<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detalle del sensor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="highcharts" style="width:100%; height:300px;"></div>
  <div *ngFor="let d of laGranBilardo">
    <ion-button expand="block" (click)="actualizarValvula()">{{mensajeBoton}}</ion-button>
    <ion-button expand="block" fill="outline" routerLink="/mediciones/{{d.id}}"
    >VER TODAS LAS MEDICIONES</ion-button>
    <ion-button expand="block" fill="outline" routerLink="/log-riego/{{d.id}}"
    routerDirection="root">
      VER LOG RIEGOS</ion-button>
  </div>
</ion-content>